@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/highlight.js/styles/github";

@import "components/flashy";
@import "partials/generals";

body{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

code.line-numbers {
  counter-reset: line;
}

code span.line-number {
  counter-increment: line;
}

code span.line-number:before {
  content: counter(line);
  color: gray;
  padding-right: 9px;
  padding-left: 9px;
  margin-right: 9px;
}